.navbar-light {
    line-height: 65px;
    height: 65px;
    padding-top: 0;
}


.navbar .search-container {
    position: relative;
}

.navbar .search-container input {
    height: 35px;
    width: 300px;
}

.navbar .navbar-brand {
    color: white;
}

body {
    background-image: url("runway.jpg");
  }